body {
  font-family: "Google Sans", arial, sans-serif;
}

h1 {
  color: rgb(135, 135, 135);
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}
ul {
  margin: 0 0 10px;
  padding: 0;
}
li {
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 300;
}
.weather-app {
  border: 1px solid #dadde1;
  padding: 20px;
  margin: 25px auto;
  border-radius: 10px;
}
.search-form {
  margin-bottom: 20px;
}

.temp {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-icon {
  position: relative;
  top: -20px;
  height: 70px;
  width: 70px;
  margin-right: 10px;
}
.units {
  position: relative;
  top: -34px;
}
.forecast-icon {
  margin: 0;
}
